{% load static %}
<div class="container text">
<!--<h7>IT'S ME</h7> -->
    {% for i in object_1 %}
<br>
<center>
<h5 class="name">C͡ℓ𝖏ήtø𝐧 ᗩ𝔟ⓡ𝐚ꫝαＭ</h5>
</center>
<br>
</div>
<center>
<a href="#about" class="btn btn-danger btn-sm know_more">Know More</a>
</center>
<br>
<br>
<center>
<h7 class="user">1:00 ●━━━━━━─────── 2:00<br>⇆ ◁ㅤ ❚❚ㅤ ▷  ↻</h7>
</center>
<br>
<br>

<div class="card card_dec">
  <div class="card-body quotes">
    <p>{{i.quotes}}</p>
  </div>
</div>
<br>
<hr>
<center>
{% for y in object_4 %}

<div class="card account_card" style="width:12rem;">
<div class="card-body account_link">
    <div class="col-12 col-sm-12 col-md-4 xol-lg-4">
    <a href="{{y.Github}}"><i style="font-size:2em;color:black;" class="fab fa-github"></i></a>
    <a href="{{y.Telegram}}"><i style="font-size:2em;color:black;" class="fab fa-telegram"></i></a>
    <a href="{{y.Facebook}}"><i style="font-size:2em;color:black;" class="fab fa-facebook"></i></a>
    <a href="{{y.Twitter}}"><i style="font-size:2em;color:black;" class="fab fa-twitter-square"></i></a>
    </div>
</div>
</div>
    {% endfor %}
</center>
<hr>

<div class="card shadow-lg p-3 mb-5 bg-body rounded a_dec" id="about">
  <div class="card-body about_me">
<h4 class="heading_text">𝙰𝙱𝙾𝚄𝚃 𝙼𝙴</h4>
<p class="paragraph_text">{{i.About}}</p>
      {% for i in object_5 %}
Download my CV(resume) here <a style="text-decoration:none;" href ="{{i.resume.url}}">Download</a>
      {% endfor %}
  </div>
</div>


<div class="card shadow-sm p-3 mb-5 bg-body rounded card_slide" id="project"">
    <div class="card-body">
<h4 class="heading_text"><i class="fab fa-telegram"></i> 𝚃𝙴𝙻𝙴𝙶𝚁𝙰𝙼 𝙱𝙾𝚃𝚂</h4>
        {% for x in object_2 %}
    <div class="card-body shadow-lg p-3 mb-5 bg-body rounded paragraph_text">
<!--     <img class="tele_icon" src="{{x.Telegram_icon.url}}" alt="" width="60px" height="60px" style="margin-left:15px"><a style="text-decoration:none;margin-left:15px;font-size:17px;text-align:justify;color:black;"><span> {{x.Telegram_bot}}</span></a> -->
      <i class="fab fa-android"></i> <a style="text-decoration:none;margin-left:15px;font-size:17px;text-align:justify;color:black;" href="https://t.me/{{x.Telegram_bot}}"><span> {{x.Telegram_bot}}</span></a>
    <div class="col-12 col-sm-12 col-md-12 xol-lg-12" style="margin-left:250px;margin-top:-20px;">
    <a href="https://t.me/{{x.Telegram_bot}}"><button style="margin:auto;" class="btn btn-outline-info btn-sm tele_btn">Get</button></a>
    </div>
    </div>
        {% endfor %}
    </div>
</div>
<hr>

<div class="card shadow-sm p-3 mb-5 bg-body rounded">
<h4 class="heading_text"><i class="fab fa-github-square"></i> GitHub</h4>
    {% for z in object_3 %}
    <div class=" card-body shadow-lg p-3 mb-5 bg-body rounded paragraph_text">
       <i class="fab fa-github-alt"></i> <a style="text-decoration:none;margin-left:25px;font-size:15px;text-align:justify;color:black;">{{z.Repository_name}}</a>
    <div class="col-3 col-sm-12 col-md-12 xol-lg-12">
     <a href="https://github.com/Clinton-Abraham/{{z.Repository_name}}"><button class="btn btn-outline-info btn-sm git_btn">Source</button></a>
    </div>
    </div>
    {% endfor %}
</div>

<div class="container">
    <h4>Support</h4>
<div class="Dropdown">
<button id="Dropdown-Button" class="btn btn-dark btn-sm">Buy me a coffee <i class="fas fa-coffee"></i></button>
    <div class="Dropdown-Menu">
        <span class="upi">UPI: {{i.your_upi}}</span>
    </div>
</div>
</div>
<hr>

<!--<div class="card shadow-lg p-3 mb-5 bg-body rounded" id="contact">-->
<!--    <div class="card-body">-->
<!--    <h4 class="heading_text"><i class="fas fa-address-book"> Contact</i></h4>-->
<!--    <h7>Mobile: {{i.contact_1}} </h7><br>-->
<!--    <h7>Mobile: {{i.contact_2}}</h7><br>-->
<!--    <h7><i class="fab fa-whatsapp"></i> Whatsapp: {{i.whatsapp}}</h7><br><br>-->
<!--    </div>-->

<!--<div class="container card_contact">-->
<!--    <form action="" method="post">-->
<!--        {% csrf_token %}-->
<!--        <input type="text" name="name" placeholder="Your Name*" required><br><br>-->
<!--        <input type="email" name="email" placeholder="Your Email Address*" required><br><br>-->
<!--        <textarea name="msg" placeholder="send your message"></textarea>-->
<!--    </form>-->
<!--</div>-->

<div class="container" id="message">
    <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions?</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="message" method="post">
                {% csrf_token %}
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Your name</label>
                            <input style="color:black;" type="text" id="name" placeholder="Name" name="name" class="form-control" required>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">Your email</label>
                            <input type="text" id="email" name="email" placeholder="Email id" class="form-control" required>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Your message</label>
                            <textarea type="text"  name="message" placeholder="Enter your message Here" rows="2" class="form-control md-textarea" required></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <div class="text-center text-md-left">
                <button onclick="func()" class="btn btn-primary" type="submit">send</button>
                </div>
            </form>

<!--            <div class="text-center text-md-left">-->
<!--                <button class="btn btn-primary" type="submit">send</button>-->
<!--                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>-->
<!--            </div>-->
 <script>
     function func() {
     alert("message send successfully..");
     }
 </script>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Tamil Nadu, INDIA</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>{{i.contact_1}}</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>clintonabrahamc@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>

<!--Section: Contact v.2-->

<!--    <div class="card-body card_contact">-->
<!--<h4>Lives in <i class="fas fa-globe-africa"></i></h4>-->
<!--    <h7>Tamil Nadu, India</h7>-->
<!--    </div>-->

</div>
{% endfor %}


