{% load static %}
    <header>
        <center class="header_image">
<!--             {% for i in object_1 %}
            <a style="color:red;" href="/"><img class="logo" src="{{i.logo_image.url}}" alt="logo" width="60px" height="60px"></a>
            {% endfor %} -->
            <a style="color:red;" href="/"><img class="logo" src="static/images/IMG_20210810_192644_564.png" alt="logo" width="60px" height="60px"></a>
            <!--<a style="color:red;" href="/"><img class="logo" src="https://www.pinclipart.com/picdir/middle/530-5302206_fox-clipart-transparent-background-transparent-fox-logo-png.png" alt="logo" width="60px" height="60px"></a>-->
        </center>
    </header>



